@import "../../../shared/theme/conf";

.profile-wrap {
    padding: 0;
}

.profile-head {
    height: 140px;
    overflow: hidden;
    .profile-head-bg {
        width: 100%;
        height: auto;
        filter: blur(20px);
        -moz-filter: blur(20px);
        -webkit-filter: blur(20px);
    }
}

.profile-head-up {
    height: 140px;
    overflow: hidden;
    background-color: gainsboro;
    .profile-head-bg-up {
        width: 100%;
        height: auto;
    }
}

.search-diag-flg {
    margin: 0 0 0 15px;
}

.search-button {
    margin: 15px;
}

.update-button {
    margin: 15px;
}

.info-wrap {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 10;
    .avatar-wrap {
        margin: 10px auto;
        border: 2px solid $white;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        overflow: hidden;
        @include center(60px, 60px);
        font-size: 30px;
        position: relative;
        cursor:pointer;
        img {
            width: 100%;
            height: 100%;
        }
        i {
            color: white;
            width: 50px;
            height: 50px;
        }
        #upfile {
            opacity: 0.0;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height:100%;
        }
    }
    .user-name {
        font-size: 1.4em;
        font-weight: normal;
        color: $primary;
    }
}

.profile-foot {
    padding:5px 10px 0 10px;
    text-align: center;
    h4 {
        text-transform: uppercase;
        line-height: 30px;
    }
}

.link-tag {
    display: inline-block;
    padding: .2em .4em;
    margin: 2px;
    border: 1px solid $border-color;
    border-radius: 3px;
    background: transparent;
    text-decoration: none;
    color: rgba($fonts-color, .7);
    @include transition(all .4s);
    &:hover {
        border: 1px solid gainsboro;
        background: gainsboro;
        color: $white;
    }
}

.contact-way-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 100%;
    height: auto;
}

.contact-way-list {
    list-style: none;
    .info-icon {
        display: inline-block;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        line-height: 50px;
        font-size: 22px;
        color: rgba($fonts-color, .5);
        @include transition(all .4s);
    }
    a.fa-facebook {
        &:hover {
            background: #3b5998;
            color: $white;
            cursor: pointer;
            text-decoration: none;
        }
    }
    a.fa-skype {
        &:hover {
            background: #00B0F0;
            color: $white;
            cursor: pointer;
            text-decoration: none;
        }
    }
    a.fa-slack {
        &:hover {
            background: #964F8A;
            color: $white;
            cursor: pointer;
            text-decoration: none;
        }
    }
    a.fa-github {
        &:hover {
            background: #000000;
            color: $white;
            cursor: pointer;
            text-decoration: none;
        }
    }
}

.matching-btn {
    margin: 10px;
}

.not-interest {
    @extend .bg-danger;
}

.lank-badge {
    margin: 4px;
}

.success {
    @extend .bg-success;
}

.primary {
    @extend .bg-primary;
}

.danger {
    @extend .bg-danger;
}

.info {
    @extend .bg-info;
}
