<div class="pages-top">
  <div class="avatar-wrap">
    <div class="avatar" *ngIf="user.photo_path != null; else uploadPhoto">
      <img src="{{user.photo_path}}">
    </div>
    <ng-template #uploadPhoto>
        <div class="avatar-up">
          <i class="fa fa-user icon"></i>
        </div>
    </ng-template>
    <div class="user-info-wrap">
      <span class="user-name" title="{{user.name}}">{{user.name}}</span>
      <span class="user-post" title="{{user.position}}">{{user.position}}</span>
    </div>
  </div>

  <div class="collapse-menu" (click)="_sidebarToggle()">
    <i class="fa fa-dedent fa-fw" *ngIf="sidebarToggle"></i>
    <i class="fa fa-indent fa-fw" *ngIf="!sidebarToggle"></i>
  </div>

  <div class="msg-tips-wrap">
    <div (click)="goHomePage()" class="msg-entrance email">
      <span class="fa fa-home"></span>
      <span class="badge" *ngIf="tip.email"></span>
    </div>
    <div (click)="_logout()" class="msg-entrance">
      <span class="fa fa-sign-out fa-fw"></span>
    </div>
  </div>

</div>
