<div class="row root">
  <div class="col-md-12 animated fadeIn">
    <div class="card card-block tip-card">
      <div class="tip-msg">
        <div class="card-msg">マッチングユーザ</div>
        <span>マッチング済み: 0名</span>
        <br />
        <span>マッチング候補: 0名</span>
      </div>
      <button (click)="showMatchedUser()" class="tip-ico tip-ico-primary">
        <i class="fa fa-group fa-fw"></i>
      </button>
    </div>
  </div>
  <div class="col-md-12 animated fadeIn">
    <div class="card card-block tip-card">
      <div class="tip-msg">
        <div class="card-msg">新着メッセージ</div>
        <span>0メッセージ</span>
      </div>
      <button (click)="showMessages()" class="tip-ico tip-ico-info">
        <i class="fa fa-comments fa-fw"></i>
      </button>
    </div>
  </div>
  <div class="col-md-12 animated fadeIn">
    <card>
      <profile></profile>
    </card>
  </div>
</div>
